In [124]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [125]:
df= pd.read_csv("https://raw.githubusercontent.com/NeilPandey/Test_Dataset/refs/heads/master/house_price.csv")

In [126]:
df.head()

   Unnamed: 0      Location  BHK  Furnishing  Sq.ft  Old(years)  Floor  Price
0          37    Whitefield    3           1   3000           1      3  28000
1          43  Bommanahalli    3           1   1650          10      0  18000
2          12    Whitefield    2           0   1000           5      3  16400
3           8    Whitefield    3           0   1600           1      9  27000
4           9    Whitefield    2           1   1200           5      1  20000

In [127]:
df.shape

(1000, 8)

In [128]:
df.Location.unique()

array(['Whitefield', 'Bommanahalli'], dtype=object)

In [129]:
df=df.drop_duplicates()

In [130]:
df.shape

(51, 8)

In [131]:
df.count()

Unnamed: 0    51
Location      51
BHK           51
Furnishing    51
Sq.ft         51
Old(years)    51
Floor         51
Price         51
dtype: int64

In [132]:
df.Floor

0       3
1       0
2       3
3       9
4       1
5       8
6       3
7      10
8       7
9      13
10      3
12      1
13      2
14      1
15      1
16      1
17      3
18      3
21      0
22      2
23      3
24      3
25     12
26     10
28      2
29      1
30      2
31      3
32     11
33      1
40      3
42      4
44      2
49     11
51      1
59      4
69      3
74      2
78      1
80      4
81      3
83      4
84      1
88      0
97      1
110     3
128     2
147     3
149     2
221     2
231     3
Name: Floor, dtype: int64

In [133]:
df.isna().sum()

Unnamed: 0    0
Location      0
BHK           0
Furnishing    0
Sq.ft         0
Old(years)    0
Floor         0
Price         0
dtype: int64

In [134]:
df.max()

Unnamed: 0            49
Location      Whitefield
BHK                    3
Furnishing             1
Sq.ft               3155
Old(years)            10
Floor                 13
Price              45000
dtype: object

In [135]:
df.min()

Unnamed: 0               0
Location      Bommanahalli
BHK                      2
Furnishing               0
Sq.ft                  767
Old(years)               1
Floor                    0
Price                11000
dtype: object

In [137]:
df=df.drop(['Unnamed: 0'],axis=1)

In [139]:
df.head()

       Location  BHK  Furnishing  Sq.ft  Old(years)  Floor  Price
0    Whitefield    3           1   3000           1      3  28000
1  Bommanahalli    3           1   1650          10      0  18000
2    Whitefield    2           0   1000           5      3  16400
3    Whitefield    3           0   1600           1      9  27000
4    Whitefield    2           1   1200           5      1  20000

In [143]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

In [157]:
Label_enc= LabelEncoder()

In [159]:
df['Location']=Label_enc.fit_transfrom(df['Location'])
df.head()

AttributeError: 'LabelEncoder' object has no attribute 'fit_transfrom'