In [ ]:
** ENCODERS IN DATA SCIENCE **

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:\\Users\\DELL\\Downloads\\Encode_file.csv")
df

   age  Gender     bmi Dibetes     region
0   19    male  27.900     yes  southwest
1   18  female  33.770      no  southeast
2   28    male  33.000      no  southeast
3   33    male  22.705     yes  northwest
4   32    male  28.880      no  northwest
5   31  female  25.740      no  southeast
6   46  female  33.440     yes  southeast
7   37  female  27.740      no  northwest
8   37    male  29.830      no  northeast
9   60  female  25.840      no   northest

In [5]:
df.shape

(10, 5)

In [7]:
df_faultyData = df[(df['region']=='northest')]
df_faultyData

   age  Gender    bmi Dibetes    region
9   60  female  25.84      no  northest

In [9]:
df.dtypes

age          int64
Gender      object
bmi        float64
Dibetes     object
region      object
dtype: object

In [27]:
df[['Gender','Dibetes']]=df[['Gender','Dibetes']].astype('category')
df['region']=df['region'].astype('category')

In [25]:
df['Gender']=df['Gender'].cat.codes
df['Dibetes']=df['Dibetes'].cat.codes

AttributeError: Can only use .cat accessor with a 'category' dtype

In [29]:
df=pd.get_dummies(df,columns=['region'])
df

,age,Gender,bmi,Dibetes,region_northeast,region_northest,region_northwest,region_southeast,region_southwest
0,19,1,27.900,yes,False,False,False,False,True
1,18,0,33.770,no,False,False,False,True,False
2,28,1,33.000,no,False,False,False,True,False
3,33,1,22.705,yes,False,False,True,False,False
4,32,1,28.880,no,False,False,True,False,False
5,31,0,25.740,no,False,False,False,True,False
6,46,0,33.440,yes,False,False,False,True,False
7,37,0,27.740,no,False,False,True,False,False
8,37,1,29.830,no,True,False,False,False,False
9,60,0,25.840,no,False,True,False,False,False

In [ ]:
*********** MATCHINE LURNING**************ML